@define-placeholder truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@define-placeholder hide-text {
  text-indent: 100px;
  white-space: nowrap;
  overflow: hidden;
}
