$nightlyBlue: #1f366c;
$nightlyBlueVibrant: #1e4488;
$developerBlue: #005189;
$developerBlueVibrant: #005da5;
$mobileBlue: #0c99d5;
$mobileBlueVibrant: #00a7e0;
$summitTeal: #00af84;
$summitTealVibrant: #5bc0a4;
$geckoGreen: #6fbe4a;
$geckoGreenVibrant: #7dc14c;
$flameYellow: #ffcd02;
$flameYellowVibrant: #ffda00;
$marketOrange: #f18a21;
$marketOrangeVibrant: #f89c24;
$firefoxOrange: #e55525;
$firefoxOrangeVibrant: #f26c23;
$dinoRed: #c33b32;
$dinoRedVibrant: #e63d2f;
$bikeshedMagenta: #e14164;
$bikeshedMagentaVibrant: #ee5195;
$auroraPurple: #682666;
$auroraPurpleVibrant: #95368c;

$lightGray: #d1d2d3;
$darkGray: #56565a;

$tint: +15%;
$tinter: +30%;

$nightlyBlueTint: color($nightlyBlue lightness($tint));
$nightlyBlueTinter: color($nightlyBlue lightness($tinter));
$nightlyBlueVibrantTint: color($nightlyBlueVibrant lightness($tint));
$nightlyBlueVibrantTinter: color($nightlyBlueVibrant lightness($tinter));
$developerBlueTint: color($developerBlue lightness($tint));
$developerBlueTinter: color($developerBlue lightness($tinter));
$developerBlueVibrantTint: color($developerBlueVibrant lightness($tint));
$developerBlueVibrantTinter: color($developerBlueVibrant lightness($tinter));
$mobileBlueTint: color($mobileBlue lightness($tint));
$mobileBlueTinter: color($mobileBlue lightness($tinter));
$mobileBlueVibrantTint: color($mobileBlueVibrant lightness($tint));
$mobileBlueVibrantTinter: color($mobileBlueVibrant lightness($tinter));
$summitTealTint: color($summitTeal lightness($tint));
$summitTealTinter: color($summitTeal lightness($tinter));
$summitTealVibrantTint: color($summitTealVibrant lightness($tint));
$summitTealVibrantTinter: color($summitTealVibrant lightness($tinter));
$geckoGreenTint: color($geckoGreen lightness($tint));
$geckoGreenTinter: color($geckoGreen lightness($tinter));
$geckoGreenVibrantTint: color($geckoGreenVibrant lightness($tint));
$geckoGreenVibrantTinter: color($geckoGreenVibrant lightness($tinter));
$flameYellowTint: color($flameYellow lightness($tint));
$flameYellowTinter: color($flameYellow lightness($tinter));
$flameYellowVibrantTint: color($flameYellowVibrant lightness($tint));
$flameYellowVibrantTinter: color($flameYellowVibrant lightness($tinter));
$marketOrangeTint: color($marketOrange lightness($tint));
$marketOrangeTinter: color($marketOrange lightness($tinter));
$marketOrangeVibrantTint: color($marketOrangeVibrant lightness($tint));
$marketOrangeVibrantTinter: color($marketOrangeVibrant lightness($tinter));
$firefoxOrangeTint: color($firefoxOrange lightness($tint));
$firefoxOrangeTinter: color($firefoxOrange lightness($tinter));
$firefoxOrangeVibrantTint: color($firefoxOrangeVibrant lightness($tint));
$firefoxOrangeVibrantTinter: color($firefoxOrangeVibrant lightness($tinter));
$dinoRedTint: color($dinoRed lightness($tint));
$dinoRedTinter: color($dinoRed lightness($tinter));
$dinoRedVibrantTint: color($dinoRedVibrant lightness($tint));
$dinoRedVibrantTinter: color($dinoRedVibrant lightness($tinter));
$bikeshedMagentaTint: color($bikeshedMagenta lightness($tint));
$bikeshedMagentaTinter: color($bikeshedMagenta lightness($tinter));
$bikeshedMagentaVibrantTint: color($bikeshedMagentaVibrant lightness($tint));
$bikeshedMagentaVibrantTinter: color($bikeshedMagentaVibrant lightness($tinter));
$auroraPurpleTint: color($auroraPurple lightness($tint));
$auroraPurpleTinter: color($auroraPurple lightness($tinter));
$auroraPurpleVibrantTint: color($auroraPurpleVibrant lightness($tint));
$auroraPurpleVibrantTinter: color($auroraPurpleVibrant lightness($tinter));
