$nightlyBlue: #1f366c;
$nightlyBlueVibrant: #1e4488;
$developerBlue: #005189;
$developerBlueVibrant: #005da5;
$mobileBlue: #0c99d5;
$mobileBlueVibrant: #00a7e0;
$summitTeal: #00af84;
$summitTealVibrant: #5bc0a4;
$geckoGreen: #6fbe4a;
$geckoGreenVibrant: #7dc14c;
$flameYellow: #ffcd02;
$flameYellowVibrant: #ffda00;
$marketOrange: #f18a21;
$marketOrangeVibrant: #f89c24;
$firefoxOrange: #e55525;
$firefoxOrangeVibrant: #f26c23;
$dinoRed: #c33b32;
$dinoRedVibrant: #e63d2f;
$bikeshedMagenta: #e14164;
$bikeshedMagentaVibrant: #ee5195;
$auroraPurple: #682666;
$auroraPurpleVibrant: #95368c;

$lightGray: #d1d2d3;
$darkGray: #56565a;

$tint: +10%;
$tinter: +20%;

$nightlyBlueTint: color($nightlyBlue tint($tint));
$nightlyBlueTinter: color($nightlyBlue tint($tinter));
$nightlyBlueVibrantTint: color($nightlyBlueVibrant tint($tint));
$nightlyBlueVibrantTinter: color($nightlyBlueVibrant tint($tinter));
$developerBlueTint: color($developerBlue tint($tint));
$developerBlueTinter: color($developerBlue tint($tinter));
$developerBlueVibrantTint: color($developerBlueVibrant tint($tint));
$developerBlueVibrantTinter: color($developerBlueVibrant tint($tinter));
$mobileBlueTint: color($mobileBlue tint($tint));
$mobileBlueTinter: color($mobileBlue tint($tinter));
$mobileBlueVibrantTint: color($mobileBlueVibrant tint($tint));
$mobileBlueVibrantTinter: color($mobileBlueVibrant tint($tinter));
$summitTealTint: color($summitTeal tint($tint));
$summitTealTinter: color($summitTeal tint($tinter));
$summitTealVibrantTint: color($summitTealVibrant tint($tint));
$summitTealVibrantTinter: color($summitTealVibrant tint($tinter));
$geckoGreenTint: color($geckoGreen tint($tint));
$geckoGreenTinter: color($geckoGreen tint($tinter));
$geckoGreenVibrantTint: color($geckoGreenVibrant tint($tint));
$geckoGreenVibrantTinter: color($geckoGreenVibrant tint($tinter));
$flameYellowTint: color($flameYellow tint($tint));
$flameYellowTinter: color($flameYellow tint($tinter));
$flameYellowVibrantTint: color($flameYellowVibrant tint($tint));
$flameYellowVibrantTinter: color($flameYellowVibrant tint($tinter));
$marketOrangeTint: color($marketOrange tint($tint));
$marketOrangeTinter: color($marketOrange tint($tinter));
$marketOrangeVibrantTint: color($marketOrangeVibrant tint($tint));
$marketOrangeVibrantTinter: color($marketOrangeVibrant tint($tinter));
$firefoxOrangeTint: color($firefoxOrange tint($tint));
$firefoxOrangeTinter: color($firefoxOrange tint($tinter));
$firefoxOrangeVibrantTint: color($firefoxOrangeVibrant tint($tint));
$firefoxOrangeVibrantTinter: color($firefoxOrangeVibrant tint($tinter));
$dinoRedTint: color($dinoRed tint($tint));
$dinoRedTinter: color($dinoRed tint($tinter));
$dinoRedVibrantTint: color($dinoRedVibrant tint($tint));
$dinoRedVibrantTinter: color($dinoRedVibrant tint($tinter));
$bikeshedMagentaTint: color($bikeshedMagenta tint($tint));
$bikeshedMagentaTinter: color($bikeshedMagenta tint($tinter));
$bikeshedMagentaVibrantTint: color($bikeshedMagentaVibrant tint($tint));
$bikeshedMagentaVibrantTinter: color($bikeshedMagentaVibrant tint($tinter));
$auroraPurpleTint: color($auroraPurple tint($tint));
$auroraPurpleTinter: color($auroraPurple tint($tinter));
$auroraPurpleVibrantTint: color($auroraPurpleVibrant tint($tint));
$auroraPurpleVibrantTinter: color($auroraPurpleVibrant tint($tinter));
