{
  "extends": "airbnb/base",
  "rules": {
    "no-console": 0,
    "space-before-function-paren": 0,
    "max-len": [0],
    "no-param-reassign": [0],
    "prefer-template": 1,
    "prefer-arrow-callback": 1
  },
  "parser": "babel-eslint"
}
