h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
}
h1, .h1 {
  font-size: var(--h1-fontSize);
  line-height: var(--h1-lineHeight);
  padding-top: var(--h1-paddingTop);
  margin-bottom: var(--h1-marginBottom);
}
h2, .h2 {
  font-size: var(--h2-fontSize);
  line-height: var(--h2-lineHeight);
  padding-top: var(--h2-paddingTop);
  margin-bottom: var(--h2-marginBottom);
}
h3, .h3 {
  font-size: var(--h3-fontSize);
  line-height: var(--h3-lineHeight);
  padding-top: var(--h3-paddingTop);
  margin-bottom: var(--h3-marginBottom);
}
h4, .h4 {
  font-size: var(--h4-fontSize);
  line-height: var(--h4-lineHeight);
  padding-top: var(--h4-paddingTop);
  margin-bottom: var(--h4-marginBottom);
}
h5, .h5 {
  font-size: var(--h5-fontSize);
  line-height: var(--h5-lineHeight);
  padding-top: var(--h5-paddingTop);
  margin-bottom: var(--h5-marginBottom);
}
h6, .h6 {
  font-size: var(--h6-fontSize);
  line-height: var(--h6-lineHeight);
  padding-top: var(--h6-paddingTop);
  margin-bottom: var(--h6-marginBottom);
}

/* since h5 & h6 always small, it's interesting to have a difference with classic text */

h5, .h5 h6, .h6 {
  text-decoration: underline
}
