:root {
  --fontSizeRatio: 1;
  --fontSizeUnit: 1rem;
  --fontSize: calc(var(--fontSizeUnit) * var(--fontSizeRatio));

  --lineHeight: calc(var(--fontSize) * 1.5625);

  --capHeight: calc(var(--fontSize) * 0.75);

  --gutter-x: var(--fontSize);
  --gutter-y: var(--lineHeight);
  --gutter: var(--gutter-y) var(--gutter-x);

  --rythm-ratio: 1.200; /* minor third ratio */

  --h1-fontSize: calc(var(--fontSize) * var(--rythm-ratio) * var(--rythm-ratio) * var(--rythm-ratio) * var(--rythm-ratio));
  --h1-lines: 2; /* depend on fontSize*/
  --h1-lineHeight: calc(var(--lineHeight) * var(--h1-lines));
  --h1-baseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h1-paddingTop: var(--h1-baseLineDistance);
  --h1-marginBottom: calc(var(--lineHeight) - var(--h1-baseLineDistance));

  --h2-fontSize: calc(var(--fontSize) * var(--rythm-ratio) * var(--rythm-ratio) * var(--rythm-ratio));
  --h2-lines: 1; /* depend on fontSize*/
  --h2-lineHeight: calc(var(--lineHeight) * var(--h2-lines));
  --h2-baseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h2-paddingTop: var(--h2-baseLineDistance);
  --h2-marginBottom: calc(var(--lineHeight) - var(--h2-baseLineDistance));

  --h3-fontSize: calc(var(--fontSize) * var(--rythm-ratio) * var(--rythm-ratio));
  --h3-lines: 1; /* depend on fontSize*/
  --h3-lineHeight: calc(var(--lineHeight) * var(--h3-lines));
  --h3-baseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h3-paddingTop: var(--h3-baseLineDistance);
  --h3-marginBottom: calc(var(--lineHeight) - var(--h3-baseLineDistance));

  --h4-fontSize: calc(var(--fontSize) * var(--rythm-ratio));
  --h4-lines: 1; /* depend on fontSize*/
  --h4-lineHeight: calc(var(--lineHeight) * var(--h4-lines));
  --h4-baseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h4-paddingTop: var(--h4-baseLineDistance);
  --h4-marginBottom: calc(var(--lineHeight) - var(--h4-baseLineDistance));

  --h5-fontSize: calc(var(--fontSize));
  --h5-lines: 1; /* depend on fontSize*/
  --h5-lineHeight: calc(var(--lineHeight) * var(--h5-lines));
  --h5-baseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h5-paddingTop: var(--h5-baseLineDistance);
  --h5-marginBottom: calc(var(--lineHeight) - var(--h5-baseLineDistance));

  --h6-fontSize: calc(var(--fontSize) / var(--rythm-ratio));
  --h6-lines: 1; /* depend on fontSize*/
  --h6-lineHeight: calc(var(--lineHeight) * var(--h6-lines));
  --h6-baseLineDistance: calc((var(--lineHeight) - var(--capHeight)) / 2);
  --h6-paddingTop: var(--h6-baseLineDistance);
  --h6-marginBottom: calc(var(--lineHeight) - var(--h6-baseLineDistance));

  /* not rem so you can use .small in .small */
  --small-fontSize: calc(1em * var(--fontSizeRatio) / var(--rythm-ratio));
}
